server:
  port: 8003
spring:
  application:
    name: eureka
eureka:
  instance:
    hostname: server3
  client:
    service-url:
      defaultZone: http://server1:8001/eureka/,http://server2:8002/eureka/